@model RestaurantMenus

<form method="post">
     <div class="row pb-2">
         <div class="row pb-2">
              <h2 class="">Create Category</h2>
              <hr/>       
         </div>
         <div class="mb-3">
             <label asp-for="MenuId"></label>
             <input asp-for="MenuId" class="form-control"/>
         </div>
         <div class="mb-3">
            <label asp-for="MenuName"></label>
            <input asp-for="MenuName" class="form-control"/>
         </div>
         <div class="mb-3">
            <label asp-for="NumberOfMenu"></label>
            <input asp-for="NumberOfMenu" class="form-control"/>
         </div>
         <button type="submit" class="btn btn-primary" style="width:100px">Create</button>
     </div>
</form>


