@model IEnumerable<RestaurantMenus>

<a  asp-controller="RestaurantMenu" asp-action="Create">Create New Menu</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                MenuName
            </th>
            <th>
                NumberOfMenu
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var loop in Model)
        {
           <tr>
               <td>
                 @loop.MenuName
               </td>
               <td>
                  @loop.NumberOfMenu
               </td>
               <td>
                   <a asp-controller="RestaurantMenu" asp-action="Update" asp-route-Id="@loop.MenuId">Update</a>
               </td>
               <td>
                    <a asp-controller="RestaurantMenu" asp-action="Delete" asp-route-Id="@loop.MenuId">Delete</a>
               </td>
           </tr> 
        }
    </tbody>
</table>